# Created from https://www.gitignore.io/api/osx,git,dropbox
# Adds temp, tmp files & directories to .gitignore

### Dropbox ###
# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache

### Git ###
*.orig

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Directories and files added by node
node_modules
npm-debug.log

# Directories for distribution
dist

# Temp directories and files
.tmp
.temp
*.tmp
*.temp
